wheel
Django
Mako
django-extensions>=1.5.9
django-reset
djangox>=0.1.15
ipython
uwsgi
psycopg2-binary
xlrd
boto
django-storages
korean
pdfminer3k
decorator
djangorestframework
django-uuidfield
django-cleanup
wand
slackclient==1.0.0
celery<5.0
python-gcm
google-api-python-client
aiohttp
bs4
Pillow
raven
boto3
django-annoying
django-filter
oauth2client~=2.2.0
sentry-sdk==0.19.5
aiocontextvars
channels==2.2.0
django-celery-results==1.2.1
djangorestframework-simplejwt
graphql-core<3.0
django-channels-graphql-ws
graphene
graphene_django
django-cors-headers
django-constance
pycryptodome
channels_redis
twisted[http2]
django-ipware
